{% extends 'CommonBundle:Default/admin:admin_index.html.twig' %}

{% set admin = 'admin_dance_group' %}
{% set title = 'label.dance_group.index' %}
{% block thead %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
{% endblock %}
{% block custom_fields %}
    <td>{{ entity.name }}</td>
{% endblock %}