{% extends 'CommonBundle:Default/admin:admin_show.html.twig' %}


{% set title = 'label.dance_group.show' %}
{% set admin = 'admin_dance_group' %}

{% block table_body %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>{{ 'label.name'|trans }}</th>
        <td>{{ entity.name }}</td>
    </tr>
{% endblock %}