{% extends 'CommonBundle:Default:layout.html.twig' %}

{% block body_container %}
    <div class="change-password-page">
        <div class="change-pass-form">
            <form action="" method="POST">
                {{ form_rest(form) }}
                <input type="submit"/>
            </form>
        </div>
    </div>
{% endblock %}