{% extends 'CommonBundle:Default/admin:admin_index.html.twig' %}

{% set admin = 'admin_address_region' %}
{% set title = 'label.address_region.index' %}
{% block thead %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
{% endblock %}
{% block custom_fields %}
    <td>{{ entity.name }}</td>
{% endblock %}