{% extends 'CommonBundle:Default/admin:admin_show.html.twig' %}


{% set title = 'label.address_region.show' %}
{% set admin = 'admin_address_region' %}

{% block table_body %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>{{ 'label.name'|trans }}</th>
        <td>{{ entity.name }}</td>
    </tr>
{% endblock %}