{% extends 'CommonBundle:Default/admin:admin_index.html.twig' %}

{% set admin = 'article' %}
{% set title = 'label.article.index' %}
{% block thead %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <th>{{ 'label.title' }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
{% endblock %}
{% block custom_fields %}
    <td>{{ entity.title }}</td>
{% endblock %}